.linkedin {
  background-image: url(../socials/linkedin.png);
}
.github {
  background-image: url(../socials/github.png);
}
.instagram {
  background-image: url(../socials/instagram.png);
}

.codepen {
  background-image: url(../socials/codepen.png);
}

/* desktop icons */

.terminal{
  background-image: url(../icons/terminal.png);
}


.certificates{
  background-image: url(../icons/certificates.png);
}


.portfolio{
  background-image: url(../icons/portfolio.png);
}

.apps{
  background-image: url(../icons/apps.png);
}

.music{
  background-image: url(../icons/music.png);
}



.resume{
  background-image: url(../icons/resume.png);
}

.profile{
  background-image: url(../icons/profile.png);
}

.gallery{
  background-image: url(../icons/gallery.png);
}












.flag{
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.gr{
  background-image: url(../icons/gr.png);
}

.en{
  background-image: url(../icons/en.png);
}